[core]
    excludesfile = /Users/hasse/.gitignore_global
    whitespace = trailing-space
    fileMode = false
    ignorecase = false
    repositoryformatversion = 0
    bare = false
    editor = nvim
    pager = delta
    quotepath = false
    autocrlf = false
    safecrlf = false
    filemode = false

[user]
    name = Hasse Wilson
    email = hasse@ramlev.dk
    signingkey = /Users/hasse/.ssh/id_ed25519_codeberg.pub

[commit]
    gpgsign = true

[delta]
	navigate = true
	light = false
	side-by-side = true
	line-numbers = true

[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta

[interactive]
    diffFilter = delta --color-only

[alias]
    lb = branch
    ci = commit -m
    co = checkout
    it = "!git init; git commit -m root --allow-empty"
    l = log
    last = log -1 HEAD
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    pv = describe origin/master
    root = rev-parse --show-toplevel
    rv = remote -v
    ss = status -sb
    st = status
    stl = stash list --pretty=format:'%C(yellow)%h %>(14)%Cgreen%cr %C(blue)%gs'

[color]
	ui = true
	interactive = auto
	branch = auto
	status = auto

[advice]
	statusHints = false

[push]
	default = simple

[diff]
    colorMoved = default

[init]
	defaultBranch = main
[gpg]
	format = ssh
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
